//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.section-footer {
  padding: 50px 0 50px;
  
  .content-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 90px 0 90px;
  }

  .content-holder {
    &:first-child {
      position: relative;
      bottom: 9px;

      width: 90%;
      margin-right: 46%;

      .description {
        font-family: $font-spectral-meduim;
        font-size: 16px;
        color: $navy-blue;
        letter-spacing: -0.17px;
        line-height: 20px;
      }

      .address {
        margin-top: 22px;

        font-family: $font-spectral-meduim;
        font-size: 16px;
        color: $navy-blue;
        letter-spacing: -0.17px;
        line-height: 22px;
      }

      .footer-icon {
        position: absolute;
        bottom: 7%;
        left: 60%;

        width: 125px;
        height: 92px;
      }
    }

    &:last-child {
      width: 30%;

      .footer-links {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 17px;

        line-height: 1.2;
      }

      .social-links {
        margin-left: -49px;
      }

      .other-links {
        margin-right: 9px;
      }

      .footer-links li a {
        font-family: $font-spectral-meduim;
        font-size: 16px;
        color: $light-blue;
        letter-spacing: -0.17px;
        text-decoration: underline;
      }

      .footer-links li a:hover {
        color: $navy-blue;
      }

      .heading {  
        margin-bottom: 5px;

        font-family: $font-spectral-semibold;
        font-size: 15px;
        color: $navy-blue;
        letter-spacing: -0.6px;
        line-height: 20px;
      }

      .subheading {
        margin-bottom: 50px;

        font-family: $font-spectral-meduim;
        font-size: 12px;
        color: $navy-blue;
        line-height: 16px;
      }

      .field-input {
        font-family: $font-spectral-meduim;
      }
    } 
  }

  .footer-logo {
    margin-top: 50px;
    margin-bottom: 35px;
  }

  .footer-link {
    margin-left: 90px;
  }

  .newsletter-holder {
    margin-left: -23%;
    margin-top: -9%;

    .newsletter-confirmation {
      margin-top: -32px;
    }
  }

  .arrow {
    position: relative;
    top: 2px;
    left: 1px;
    z-index: 2;
  }
}

@include respond-to(lg) {
  .section-footer {
    padding: 30px 0 50px;

    .content-wrapper {
      margin: 0;
    }

    .content-holder {
      &:first-child {
        margin-right: 29%;

        .description {
          font-size: 18px;
          line-height: 25px;
        }

        .address {
          font-size: 18px;
          line-height: 25px;
        }

        .footer-icon {
          bottom: 4%;
          left: 40%;
        }
      }

      &:last-child {
        width: 60%;

        .heading {
          font-size: 16px;
        }

        .subheading {
          margin-right: 25px;
          font-size: 13px;
        }

        .footer-links {
          position: relative;

          justify-content: space-around;
          margin-bottom: 30px;

          line-height: 1.2;
        }

        .social-links {
          position: absolute;
          left: 0;

          margin-left: -60px;
        }
      }
    }

    .footer-link {
      margin-left: 0;
    }

    .newsletter-holder {
      .newsletter-confirmation {
      margin-top: 3px;
      }
    }

    .btn-navy {
      top: 9px;
      right: 30px;
    }
  }
}

@include respond-to(md) {
  .section-footer {
    .content-wrapper {
      margin: 0;
    }

    .content-holder {
      &:first-child {
        margin-right: 20%;

        .description {
          line-height: 22px;
        }
      }

      &:last-child {
        .footer-links {
          margin-bottom: 20px;

          line-height: 1.2;
        }
      }
    }

    .footer-link {
      margin-left: 0;
    }
  }
}

@include respond-to(sm) {
  .section-footer {
    padding: 30px 0 50px;

    .content-wrapper {
      flex-wrap: wrap;
      margin: 0;
    }

    .content-holder {
      &:first-child {
        margin-right: 0;

        .footer-icon {
          bottom: 1%;
          left: 55%;
        }
      }

      &:last-child {
        width: 100%;

        .subheading {
          margin-right: 15px;
        }

        .footer-links {
          position: relative;

          justify-content: space-around;
          padding: 30px 0 60px;
        }

        .social-links {
          position: absolute;
          left: 0;
    
          margin-left: 0;
        }
      }
    }

    .list-unstyled {
      line-height: 1.2;
    }
    
    .footer-link {
      margin-left: 0;
    }

    .newsletter-holder {
      margin-left: 0;
      
      .newsletter-confirmation {
        margin-top: 7px;
        }
    }

    .btn-navy {
      top: 9px;
      right: 30px;
    }
  }
}

@media screen and (max-width:575px) and (min-width:320px) {
  .section-footer {
    padding: 30px 0 50px;

    .content-wrapper {
      flex-wrap: wrap;
      margin: 0;
    }

    .content-holder {
      &:first-child {
        margin-right: 0;

        .footer-icon {
          bottom: 1%;
          left: 55%;
        }
      }

      &:last-child {
        width: 100%;

        .subheading {
          margin-right: 15px;
        }

        .footer-links {
          position: relative;

          justify-content: space-around;
          padding: 20px 0 50px;
        }

        .social-links {
          position: absolute;
          left: 0;
    
          margin-left: 0;
        }
      }
    }

    .list-unstyled {
      line-height: 1.2;
    }
    
    .footer-link {
      margin-left: 0;
    }

    .newsletter-holder {
      margin-left: 0;

      .newsletter-confirmation {
        margin-top: 7px;
        }
    }

    .btn-navy {
      top: 8px;
      right: 30px;
    }
  }
}
