//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.section-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  background: transparent;

  &.scrolled {
    background-color: $white;
  }

  .navbar-nav {
    margin-top: 17px;
    margin-right: 111px;
  }

  .nav-link {
    font-family: $font-basis-grotesque-pro-bold;
    font-size: 16px;
    color:$navy-blue;
  }

  .nav-link {
    position: relative;

    &:focus {
      color: $red-orange;
    }

    &:focus:before {
      content: "";
      position: absolute;
      top: 6px;
      right: -2px;

      width: 11px;
      height: 11px;

      background-color: transparent;
      background-image: url('../assets/images/hover-image.svg');
      background-repeat: no-repeat;
    }
  }

  .nav-item:focus:before {
    position: absolute;
    top: 6px;
    right: -2px;

    width: 11px;
    height: 11px;

    background-color: transparent;
  }

  .nav-item {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 8px;
      right: 1px;

      width: 6px;
      height: 6px;

      border-radius: 100%;
    }

    &:hover:before {
      background-color: #1E2347;
    }
  }

  .header-logo {
    margin-top: 15px;
    margin-left: 90px;
  }

  .navbar-toggler {
    margin-left: 85%;
    margin-top: 5%;
  }

  .icon-bar {
    margin-left: 90%;
    width: 23px;
    height: 2px;
  }
}

//767 to 576
@include respond-to(sm) {
  .section-header {

    .header-logo {
      margin-top: 13px;
      margin-left: 5px;
      width: 80px;
    }

    .navbar-toggler {
      margin-left: 90%;
      margin-top: -6%;

      .icon-bar {
        margin-top: 5px;
      }
    }

    .navbar-nav {
      padding: 5px;
    }

    .collapse.show {
      width: 100%;
    }
  }
}

//575 to 320
@include respond-to(xs) {
  .section-header {

    .header-logo {
      margin-top: 13px;
      margin-left: 5px;
      width: 80px;
    }

    .navbar-toggler {
      margin-left: 85%;
      margin-top: -12%;

      .icon-bar {
        margin-top: 5px;
      }
    }

    .navbar-nav {
      padding: 20px;
      margin-top: 0;
      margin-right: 0;
      margin-left: 15px;
    }


    .collapse.show {
      position: fixed;
      top: 75px;
      right: 0;
      bottom: 0;
      left: 0;

      height: 100% !important;
      display: block;
      background-color:$white;
    }

    .collapsing {
      position: fixed;
      top: 75px;
      right: 0;
      bottom: 0;
      left: 0;

      height: 100% !important;
      display: block;
      background-color: $white;
    }
  }
}
