.section-quotation-slider {
  height: 428px;

  .img-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 66px;

    .pink-semicircle {
      width: 58px;
      height: 29px;
    }
  }

  .text-holder {
    .quotes {
      margin-bottom: 8px;

      font-family: $font-spectral-regular;
      font-size: 29px;
      color: $pastel-pink;
    }

    .names {
      font-family: $font-spectral-bold;
      font-size: 15px;
      color: $pastel-pink;
    }
  }

  .swiper-container {
    top: -31px;
    width: 500px;
    height: 275px;

    overflow: hidden;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 18px;
      text-align: center;
    }

    .swiper-pagination {
      bottom: 22px;
      color: $pastel-pink
    }

    .swiper-pagination-bullet {
      background-color: $pastel-pink;
    }
  }
  
  .link-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;

    .link-to {
      text-decoration: none;
    }

    .link {
      padding-bottom: 4px;

      font-family: $font-spectral-regular;
      font-size: 16px;
      color: $pastel-pink;

      border-bottom: 1px solid;
    }
  }
}

@include respond-to(xs) {
  .section-quotation-slider {
    .swiper-container {
      left: 0;
      width: 285px;
    }

    .text-holder {
      position: relative;
      left: 0;

      .quotes {
        font-size: 16px;
      }

      .names {
        font-size: 13px;
      }
    }
  }
}