.section-banner {
  height: 577.7px;

  background-position: center -194px;
  background-size: cover;
  background-repeat: no-repeat;

  .title-holder {
    padding-top: 147px;
    padding-left: 89px;

    letter-spacing: -1.7px;
    .title {
      font-family: $font-spectral-light;
      color: $violet;

      line-height: 1.2;
    }
  }

  .description-holder {
    padding-left: 88px;
    padding-bottom: 49px;

    .description {
      font-family: $font-spectral-light;
      color: $violet;
      
      line-height: 1.5;
    }
  }
}

@include respond-to(lg) {
  .section-banner {
    background-position: center;
  }
}

@include respond-to(md) {
  .section-banner {
    background-position: center;
    .title-holder {
      padding-left: 20px;
    }

    .description-holder {
      padding-left: 20px;
    }
  }
}

@include respond-to(sm) {
  .section-banner {
    background-position: left;

    .title-holder {
      padding-left: 0;
    }
    .description-holder {
      padding-left: 0;
    }
  }
}

@include respond-to(xs) {
  .section-banner {
    background-position: left;
    .title-holder {
      padding-left: 0;
    }

    .description-holder {
      padding-left: 0;
    }
  }
} 