.section-faq {
  padding: 77px 0 130px;
  width: 100%;
  height: auto;

  background-color: $white;
    
  .title {
    font-family: $font-spectral-medium;
    font-size: 30px;
    letter-spacing: 0.1px;
    color: $violet;
    text-align: center;
    word-spacing: 1px;
  }

  .card-body{
    column-count: 2;
  }

  .description {
    font-family: $font-spectral-regular;
    font-size: 16px;
    color: $violet;
  }

  .accordion {
    .btn-link {
      position: relative;

      padding: 16px 30px 16px 10px;
      width: 100%;
      height: 100%;

      font-family: $font-spectral-medium;
      font-size: 30px;
      color: $navy-blue;
      text-align: initial;
      text-decoration: none;
      white-space: normal;

      border-top: 3px solid transparent;
      border-bottom: 3px solid $pastel-yellow;

      &:focus {
        color: $red-orange;
      }
    }
    .btn-link:hover {
      background: rgba(255,247,229,0.459918);
      color: $red-orange;
    }
    .btn-link:before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;

      width: 25px;
      height: 3px;

      background-color: $navy-blue;

      transition: 0.2s ease-in;
    }
    .btn-link:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;

      width: 25px;
      height: 3px;

      background-color: $navy-blue;

      transform: rotate(90deg);
      transition: 0.2s ease-in;
    }
    .btn-link:hover:before {
      background-color: $red-orange;
    }
    .btn-link:hover:after {
      background-color: $red-orange;
    }
    .btn-link[aria-expanded="true"]:after {
      background-color: $red-orange;

      transform: initial;
    }
  }

  .card {
    border: none;

    .card-header {
    padding: 0;

    background-color: transparent;
    border: 0;
    }
  }
}