.section-trial-work-list {
  padding: 77px 0 140px;
  width: 100%;
  height: auto;

  background-color: $lavender;
    
  .title {
    font-family: $font-spectral-medium;
    font-size: 30px;
    letter-spacing: -1;
    color: $violet;
    text-align: center;
    word-spacing: 1px;
  }

  .trial-work-content {
    margin: 0 230px 0 261px;
  }

  .trial-work-details {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .number {
    margin-top: 35px;
    margin-left: -10px;
    width: 30px;
    height: 30px;

    font-family: $font-basis-grotesque-pro-regular;
    color: $violet;
    text-align: center;

    border: 2px solid $violet;
    border-radius: 50%;
  }

  .trial-work-description {
    margin: 60px 0 -15px 33px;
  }

  .heading {
    margin-bottom: 2px;

    font-family: $font-spectral-medium;
    font-size: 17px; 
    color: $violet;
    text-indent: 2%;
  }

  .description {
    font-family: $font-spectral-medium;
    font-size: 16px; 
    color: $violet;
    letter-spacing: 0.3px;
  }
}

@include respond-to(lg) {
  .section-trial-work-list {
    .trial-work-content {
      margin: 0 166px;
    }
  }
}

@include respond-to(md) {
  .section-trial-work-list {
    padding: 75px 0 100px;

    .trial-work-content {
      margin: 0 44px;
    }
  }
}

@include respond-to(sm) {
  .section-trial-work-list {
    .trial-work-content {
      padding: 0 10px;
      margin: 0;
    }

    .trial-work-details {
      align-items: unset;
    }

    .number-list {
      margin-top: 14px;
    }
  }
}

@include respond-to(xs) {
  .section-trial-work-list {
    .trial-work-content {
      padding: 0 10px;
      margin: 0;
    }

    .trial-work-details {
      align-items: unset;
    }

    .number-list {
      margin-top: 14px;
    }
  }
}