.section-quotation-slider {
  .pink-semicircle {
    display: flex;
    justify-content: center;
    padding-top: 68px;
    margin-left: 526px;
    width: 58px;
  }

  .quote {
    margin-bottom: 8px;

    font-family: $font-spectral-regular;
    font-size: 29px;
    color: $pastel-pink;
  }

  .name {
    font-family: $font-spectral-bold;
    font-size: 15px;
    color: $pastel-pink;
  }
  
  .swiper-container {
    top: 23px;
    padding-bottom: 57px;
    width: 500px;

    overflow: hidden;
  }

  .swiper-slide {
    font-size: 18px;
    text-align: center;
  }

  .swiper-pagination {
    bottom: 22px;
    color: $pastel-pink
  }

  .swiper-pagination-bullet {
    background-color: $pastel-pink;
  }
  
  .link-to {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    padding-bottom: 28px;
    text-decoration: none;
  }

  .link {
    padding-top: 53px;
    padding-bottom: 4px;

    font-family: $font-spectral-regular;
    font-size: 16px;
    color: $pastel-pink;

    border-bottom: 1px solid;
  }
}

@include respond-to(xs) {
  .section-quotation-slider {
    .swiper-container {
      left: 0;
      width: 285px;
    }

    .quote {
      font-size: 16px;
    }

    .name {
      font-size: 13px;
    }
  }
}
