.section-ratings {
  --star-size: 60px;
  --star-color: #F4F2F9;
  --star-background: #404082;
<<<<<<< HEAD
  padding: 38px 0 85px;
  width: 100%;
  height: auto;

  .heading {
    margin: 4px 20px 18px 37px;
    font-family: $font-spectral-medium;
=======

  padding: 40px 0 79px;
  width: 100%;
  height: auto;


  .title {
    margin: 4px 21px -11px 19px;

    font-family: $font-spectral-meduim;
>>>>>>> ca32725 (doctors doctor-ama and sleep responsive done)
    font-size: 30px;
    letter-spacing: 0.1px;
    color: $violet;
    text-align: center;
  }

  .rating-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 752px;
  }

  .rating-column {
    margin-top: 12px;
    text-align: center;
  }    

  .rating-star {
    --percent: calc(var(--rating) / 5 * 100%);
    display: block;
    font-size: var(--star-size);
    font-family: Times; 
    line-height: 1;

    &:before {
      content: "★★★★★";
      font-size: 26px;
      letter-spacing: 0;
      background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .rating-text {
    padding: 0 42px;
    margin-top: 9px;
    font-family: $font-spectral-regular;
    font-size: 14px;
    color: $violet;
    text-align: center;
  }
}

@include respond-to(md) {
  .section-ratings {
    .title {
      font-size: 35px;
    }

    .rating-row {
      width: 100%;
    }
  }
}

@include respond-to(sm) {
  .section-ratings {
    padding: 35px 0;

    .title {
      font-size: 23px;
    }

    .rating-row {
      display: block;
      width: 100%;
    }

    .rating-column {
      margin: 0 auto 26px;

      width: 243px;
    }
  }
}

@include respond-to(xs) {
  .section-ratings {
    padding: 35px 0;
<<<<<<< HEAD
    .heading {
=======

    .title {
>>>>>>> ca32725 (doctors doctor-ama and sleep responsive done)
      font-size: 23px;
    }

    .rating-row {
      display: block;
      width: 100%;
    }
  }
}
