.section-banner {
  background-position: center -194px;
  background-size: cover;
  background-repeat: no-repeat;

  .custom-container {
    width: 960px;
  }

  .title {    
    font-size: 38.3px;
    font-family: $font-spectral-light;
    color: $violet;
    letter-spacing: -1.7px;

    line-height: 1.2;
  }

  .description {
    font-size: 17px;
    font-family: $font-spectral-light;
    color: $violet;
    
    line-height: 1.5;
  }
}

@include respond-to(lg) {
  .section-banner {
    background-position: center;
  }
}

@include respond-to(md) {
  .section-banner {
    background-position: center;
  }
}

@include respond-to(sm) {
  .section-banner {
    background-position: left;
  }
}

@include respond-to(xs) {
  .section-banner {
    background-position: left;

    .custom-container {
      width: 320px;
    }
  }
}