//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.section-faq {
  .content-wrapper{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    .faq-navigation {
      position: sticky;
      
      display: flex;
      align-content: center;
      width: 50%;

      letter-spacing: -0.4px;

      .active-js::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -12px;
        width: 25px;
        height: 2px;
        background-color: $red-orange;
        opacity: 1;
        transform: translateX(-50%) rotate(90deg); 
        transition: 0.2s ease-in-out;
      }
      
      .active-js {
        position: relative;
        color: $violet;
        background-color: transparent;
        pointer-events: none;
      }

      .list-group-item {
        position: relative;
        padding: 8px 0;
  
        font-family: $font-spectral-regular;
        font-size: 15px;
        color: $light-blue;
  
        border: 0;
  
        cursor: pointer;
      }
    } 
  }

  .faq-accordion-holder {
    position: relative;

    width: 100%;
  }

  .section-holder {
    .title {
      margin-bottom: 0;
      margin-left: 10px;

      font-family: $font-spectral-meduim;
      font-size: 26px;
      color: $light-violet;
      letter-spacing: 0.4px;
    }

    .description {
      padding-right: 83px;
  
      font-family: $font-spectral-regular;
      font-size: 15px;
      color: $violet;
    }
    &:nth-child(2) {
      padding-top: 85px;

      .card-header {
        padding-bottom: 4px;
      }
    }
    &:nth-child(3) {
      padding-top: 75px;

      .btn-link {
        padding-bottom: 22px;
      }
    }

    &:nth-child(4) {
      padding-top: 100px;
    }

    &:nth-child(5) {
      padding-top: 100px;
    }
  }
    
  .card {
    border: none;

    .card-header {
      padding: 0;
      background-color: transparent;
      border: 0;
    }

    .card-body {
      padding-bottom: 70px;
      padding-left: 9px;

      border-bottom: 3px solid $pastel-yellow;
    }
  }
}

@include respond-to(xs) {
  .section-faq {
    .section-holder {
      .title {
        font-size: 15px;
      }
  
      .description {
        padding-right: 0;
      }

      .btn-link {
        font-size: 20px;
      }
    }
  }
}

