//main: ../main.scss
// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-pastel-yellow {
  background-color: $pastel-yellow;

  font-family: 'Times New Roman', Times, serif;

  background-color: $pastel-yellow;
  border: 0;
  border-color: none;
  outline: 0;
}

.btn-pastel-yellow:hover {
  background-color: transparent;
}

.btn-black-outline {
  background-color: transparent;

  font-family: 'Times New Roman', Times, serif;

  border: 1px solid $black;
  outline: 0;

  cursor: pointer;

  &:hover {
    color: $white;
    background-color: $violet;

    transition: all 0.4s ease-in;
  }
}

.btn-violet-outline {
  background-color: transparent;

  font-family: $font-spectral-regular;
  color: $violet;

  border: 1px solid $violet;

  outline: 0;

  cursor: pointer;

  &:hover {
    color: $white;
    background-color: $violet;

    transition: all 0.4s ease-in;
  }
}

.btn-violet-outline {
  background-color: transparent;

  font-family: $font-spectral-regular;
  color: $violet;

  border: 1px solid $violet;

  outline: 0;
}

.btn-black-outline:hover {
  background-color: $pastel-grey;
}
