//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-pastel-yellow {
<<<<<<< HEAD
  font-family: $font-spectral-regular;
 
  background-color: $pastel-yellow;
=======
>>>>>>> 5948500 (fixed all scetion-how-it-works and section-doctor issues)
  font-family: $font-spectral-regular;
 
  background-color: $pastel-yellow;
  border: 0;
  border-color: none;

  outline: 0;
}

.btn-pastel-yellow:hover {
  background-color: $pastel-yellow;
}

.btn-pastel-yellow:focus {
  outline: 5px auto;
}