.field-input {
  padding: 0 10px;
  width: 211px;
  height: 32px;
  
  font-size: 12px;
  background: transparent;
  border: 1px solid $light-grey;
  
  outline: none;
}
  
.newsletter-confirmation {
  font-family: $font-spectral-medium;
  font-size: 12px;
  color: $light-blue;
}
  
.content-holder:last-child {
  #newsletter-signup {
    margin-top: -35px;
  }  
}