.field-input {
  padding: 0 10px;
  width: 211px;
  height: 32px;
  
  font-size: 12px;
  background: transparent;
  border: 1px solid $light-grey;
  
  outline: none;
}
  
.newsletter-confirmation {
  font-family: $font-spectral-meduim;
  font-size: 12px;
  color: $light-blue;
}
  
.content-holder:last-child {
  #newsletter-signup {
    margin-top: -35px;
  }  
}

@include respond-to(lg) {
  .section-footer {
    .newsletter-holder {
      .newsletter-confirmation {
      margin-top: 3px;
      }
    }
  }
}

@include respond-to(sm) {
  .section-footer {
    .newsletter-holder {
      .newsletter-confirmation {
      margin-top: 7px;
      }
    }
  }
}

@media screen and (max-width:575px) and (min-width:320px) {
  .section-footer {
    .newsletter-holder {
      .newsletter-confirmation {
      margin-top: 7px;
      }
    }
  }
}


