//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  .section-faq {
    padding-top: 80px;

    .content-wrapper {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
     }

    .content-holder {
      &:first-child {

        .title {
          font-family: $font-spectral-regular;
          font-size: 30px;
          color: $navy-blue;
          text-align: center;
        }

        .description {
          font-family: $font-spectral-regular;
          font-size: 15px;
          color: $navy-blue;
          text-align: center;
        }
      }
    }

    .faq-list {
      position: relative;

      .faq-navigation {
        position: absolute;
        top: 0;
        left:0;
      }

      .list-group-item {
        padding: 8px 0;
   
        font-family: $font-spectral-regular;
        font-size: 15px;
        color: $light-blue;
        border: 0;
  
        cursor: pointer;
      }
    }

    .faq-navigation {
      position: sticky;

      .list-group-item:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -35px;

        width: 25px;
        height: 2px;

        background-color: #f25930;
        transform: translateX(50%) rotate(90deg);
        transition: 0.2s ease-in-out;
        opacity: 0;
      }

      .list-group-item.active {
        position: relative;

        color: $light-violet;
        background-color: transparent;
        transition: 0.5s ease-in-out;
        pointer-events: none;
      }
    }

    .faq-content {
      .content-holder {
        padding-top: 80px;

        .title {
          font-family: $font-spectral-meduim;
          font-size: 26px;
          color: $light-violet;
          text-align: left;
        }
           
        .btn-link {
          position: relative;

          padding: 16px 30px 16px 10px;
          height: 100%;
          width: 140%;

          font-family: $font-spectral-meduim;
          font-size: 30px;
          color: $navy-blue;
          text-align: initial;
          text-decoration: none;
          white-space: normal;

          border-top: 3px solid transparent;
          border-bottom: 3px solid $pastel-yellow;
        }

        .btn-link:hover {
          background: rgba(255,247,229,0.459918);
          color: $red-orange;
        }

        .btn-link:before {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;

          width: 25px;
          height: 3px;

          background-color: $navy-blue;
        }

        .btn-link:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;

          width: 25px;
          height: 3px;

          background-color: $navy-blue;

          transform: rotate(90deg);
        }
      }
    }

    .card {
      border: none;

      .card-header {
        padding: 0;

        background-color: transparent;
        border: 0;
      }
    }
  }
}

@include respond-to(xs) {
  .home {
    .section-faq {
      .content-wrapper {
        flex-direction: column;
      }
    }
  }
}
