//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  transition: all .2s ease-in-out; 

  .section-how-it-works {
    padding: 71px 0 72px;

    .heading {
      margin: -2px 20px 0 37px;

      font-family: $font-spectral-meduim;
      font-size: 30px;
      letter-spacing: 0.1px;
      color: $violet;
      text-align: center;
    }

    .work-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      margin: 91px 193px;
      width: 724px;

      list-style: none;
    }

    .work-items {
      &:first-child {
        position: relative;
        left: 7px;
  
        width: 20%;
  
        font-family: $font-spectral-regular;
        font-size: 17px;
        color: $violet;
        text-align: center;
  
        &:before {
          content: attr(data-attr);
          position: absolute;
          top: -37px;
          left: 0;
          right: 0;
  
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          width: 17px;
          height: 17px;
  
          font-family: $font-basis-grotesque-pro-regular;
          font-size: 14px;
          line-height: 22px;
          color: $white;
          text-align: center;
  
          background-color: $pastel-blue;
          border-radius: 100%; 
        }
        
        &:after {
          content: "";
          position: absolute;
          top: -44px;
          left: 87px;
          right: 0;
  
          margin: 0 auto;
          width: 160px;
          height: 16px;
  
          border-bottom: 2px solid $pastel-blue;
        }
      }
      
      &:nth-child(2){
        position: relative;
        
        width: 21%;
  
        font-family: $font-spectral-regular;
        font-size: 17px;
        color: $violet;
        text-align: center;
  
        &:before {
          content: attr(data-attr);
          position: absolute;
          top: -37px;
          left: -2px;
          right: 0;
  
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          width: 17px;
          height: 17px;
  
          font-family: $font-basis-grotesque-pro-light;
          font-size: 14px;
          line-height: 22px;
          color: $white;
          text-align: center;
  
          background-color: $pastel-blue;
          border-radius: 100%;
        }
        
        &:after {
          content: "";
          position: absolute;
          top: -44px;
          left: 92px;
          right: 0;
  
          margin: 0 auto;
          width: 160px;
          height: 16px;
          
          border-bottom: 2px solid $pastel-blue;
        }
      }

      &:nth-child(3) {
        position: relative;
        right: 15px;
  
        width: 22%;
  
        font-family: $font-spectral-regular;
        font-size: 17px;
        color: $violet;
        text-align: center;
  
        &:before {
          content: attr(data-attr);
          position: absolute;
          top: -37px;
          left: 0;
          right: 0;
  
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          width: 17px;
          height: 17px;
  
          font-family: $font-basis-grotesque-pro-light;
          font-size: 14px;
          color: $white;
          line-height: 22px;
          text-align: center;
  
          background-color: $pastel-blue;
          border-radius: 100%;
        }
        
        &:after {
          content: "";
          position: absolute;
          top: -44px;
          left: 95px;
          right: 0;
  
          margin: 0 auto;
          width: 160px;
          height: 16px;
          
          border-bottom: 2px solid $pastel-blue;
        }
      }

      &:last-child {
        position: relative;
  
        width: 15%;
  
        font-family: $font-spectral-regular;
        font-size: 17px;
        color: $violet;
        text-align: center;
  
        &:before {
          content: attr(data-attr);
          position: absolute;
          top: -37px;
          left: -15px;
          right: 0;
  
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          width: 17px;
          height: 17px;
  
          font-family: $font-basis-grotesque-pro-light;
          font-size: 14px;
          line-height: 22px;
          color: $white;
          text-align: center;
  
          background-color: $pastel-blue;
          border-radius: 100%;
        }
      }
    }
  }
}



