.reviews {
  .section-banner {
    &:before {
      content: "";
      position: absolute;
      top: 12.3%;
      left: 56.44%;
      width: 332px;
      height: 287px;

      background-image: url('../assets/images/testimonials-banner.png');
    }

    .title {
      padding-top: 170px;
      padding-bottom: 7px;

      font-size: 38px;
    }

    .description {
      width: 330px;
      
      font-size: 17px;
    }

    .button-holder {
      display: flex;
      padding-top: 73px;
      padding-bottom: 97px;
      
      .btn-pastel-yellow {
        font-size: 15px;

        &:first-child {
          padding: 11px 31px;
          margin-right: 24px;
        }

        &:last-child {
          padding: 11px 29px;
        }
      }
    }
  }

  .section-quotation-slider {
    padding-top: 98px;
    padding-bottom: 108px;
    
    background-color: $tortoise;
  }

  .section-image-text {
      background-color: $pastel-yellow;

    &:last-child {
      background-color: $lavender;
    }
  }

  .section-ratings {
    padding-top: 1px;
  }
}

@include respond-to(md) {
  .reviews {
    .section-banner {
      .button-holder {
        padding-left: 20px;
      }

      .section-ratings {
        .rating-row {
          width: 729px;
        }
      }
    }
  }
}

@include respond-to(sm) {
  .reviews {
    .section-banner {
      .description {
        width: 275px;

        font-size: 20px;
      }

      &:before {
        width: 250px;
      }
    }
  }
}

@include respond-to(xs) {
  .reviews {
    .section-banner {
      .description {
        padding-bottom: 18px;
        width: 285px;  
      }
      
      &:before {
        display: none;
      }


      .button-holder {
        display: block;
        
        .btn-pastel-yellow {
          &:first-child {
            margin-bottom: 10px;
            width: 96%;
          }
  
          &:last-child {
            width: 96%;
          }
        }
      }
    }
  }
}