.product {

  .section-banner {
    height: 81.9vh;

    background-image: url('../assets/images/sleep-product-hero.jpg');
    background-position: center -165px;

    .banner-title {
      font-size: 38px;
      color: $white;
    }

    .banner-description {
      font-size: 16.3px;
    }

    .btn-holder {
      padding-left: 90px;
      
      .btn-pastel-yellow {
        padding: 10px 24px;
        margin-top: 104px;
        margin-left: 8px;

        font-size: 15px;
      }
    }
  }

  .section-trials {
    padding: 67px 0 100px;

    .image-holder {
      margin-top: -6px;
      margin-right: 92px;

      text-align: right;
    }

    .img-holder {
      transform: rotate(-7deg);
    }

    .details {
      padding: 21px 150px 10px 35px;
    }

    .trial-title {
      font-family: $font-spectral-meduim;
      font-size: 30px;
      letter-spacing: 0.1px;
      color: $violet;
    }

    .trial-description {
      margin-top: 22px;
     
      font-family: $font-spectral-light;
      font-size: 11px;
      color: $violet;
      line-height: 23.1px;
      letter-spacing: 1.8px;
    }
  }
}